.MainContainer {
    flex-direction: column;
}

.MainContainer .containerProjeto {
    max-width: 1040px;
    min-width: 360px;
    width: calc(100% - 40px);
    scroll-behavior: smooth;
}

.containerProjeto section {
    padding: 20px 0;
}

.containerProjeto article {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}